<% include ../partials/header %>

<link rel="stylesheet" href="../../css/user-profile.css">

        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-top" src="../../assets/avatar2.png">
                    </div>

                    <div class="col-4">
                        <div class="card-body">
                            <h3><%= user.fname %> <%= user.Lname %></h3>
                            <p class="card-text">Weight: <%= user.Weight %></p>
                            <p class="card-text">Age: <%= user.Age %></p>
                            <p class="card-text">Medical History: <%= user.Medhist %></p>
                            <p class="card-text">Sex: <%= user.Sex %></p>
                        </div>
                    </div>    
                </div>
            </div>
            <div class='button'>
                <button class="btn btn-danger">
                    List of Dieticians
                    <img src="../../assets/forward-24px.svg">
                </button>
            </div>
        </div>
