<% include ../partials/header.ejs %>

<link rel="stylesheet" href="../../css/dietician-profile.css">

        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-top" src="./../../assets/avatar2.png">
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <h3><%= dietician.Fname %> <%= dietician.Lname %></h3>
                            <p class="card-text">Qualification: <%= dietician.Qualification %></p>
                            <p class="card-text">Experience: <%= dietician.Exp %></p>
                            <p class="card-text">Specialization: <%= dietician.Specialization %></p>
                        </div>
                    </div>    
                </div>
            </div>
            <div class='button'>
                <a href='/list-of-dishes' class="btn btn-danger btn-lg" role="button" aria-pressed="true">List of Dishes<img src="../../assets/forward-24px.svg"></a>
            </div>
        </div>

